<div>
    <h1>Post Form</h1>

    <input type="text" placeholder="Post Title" [(ngModel)] = "postTitle" (keyup)="onPostTitle()">

    <textarea name="" id="" cols="30" rows="10" placeholder="Post Details" [(ngModel)] = "postDetails" (keyup)="onPostDetails()"></textarea>

    <input type="text" placeholder="Post Image URL" [(ngModel)] = "postImageURL" (keyup)="onPostImageURL()">

    <input type="text" placeholder="Post URL" [(ngModel)] = "postURL" (keyup)="onPostURL()">

    <span><input type="checkbox" [(ngModel)]="isChecked"> Add Background</span>

    <img [src]="postImageURL" alt="No Image as of now" [hidden]="!postImageURL">
    <h2 [style.background-color]="isChecked? 'yellow':'' ">{{postTitle}}</h2>
    <p>{{postDetails}}</p>
    <a [href]="postURL" target="_blank" [hidden]="!postURL">More Details</a>
    

</div>
